@tailwind base;
@tailwind components;
@tailwind utilities;


/* profile start */
/* .profile h1 {
  font-size: 52px;
}

.profile h3 {
  font-size: 48px;
}

.nama {
  font-size: 10px;
} */

/* profile end */